################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DailyWorkTrackDataAccess/.vs/DailyWorkTrackDataAccess/DesignTimeBuild/.dtbcache.v2
/DailyWorkTrackDataAccess/.vs/DailyWorkTrackDataAccess/v17/.suo
