################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DailyWorkTrackDataAccess/.vs/DailyWorkTrackDataAccess/DesignTimeBuild/.dtbcache.v2
/DailyWorkTrackDataAccess/.vs/DailyWorkTrackDataAccess/v17/.suo
/DailyWorkTrackDataAccess/.vs/DailyWorkTrackDataAccess/FileContentIndex/8c2a06ba-7e2f-4fdd-8c3f-aa6581bdab0f.vsidx
/DailyWorkTrackDataAccess/.vs/DailyWorkTrackDataAccess/FileContentIndex/77632c49-b06a-49c5-bdd3-6b25ad2dd3d8.vsidx
/DailyWorkTrackDataAccess/obj/project.assets.json
/DailyWorkTrackDataAccess/obj/project.nuget.cache
/DailyWorkTrackDataAccess/obj/Debug/net6.0/DailyWorkTrackDataAccess.csproj.AssemblyReference.cache
/DailyWorkTrackDataAccess/obj/Debug/net6.0/DailyWorkTrackDataAccess.assets.cache
/DailyWorkTrackDataAccess/obj/DailyWorkTrackDataAccess.csproj.nuget.dgspec.json
/DailyWorkTrackDataAccess/.vs/DailyWorkTrackDataAccess/FileContentIndex/06544d0f-dd89-48f9-8591-aee67b8cfe45.vsidx
/DailyWorkTrackDataAccess/bin/Debug/net6.0/DailyWorkTrackDataAccess.deps.json
/DailyWorkTrackDataAccess/bin/Debug/net6.0/DailyWorkTrackDataAccess.dll
/DailyWorkTrackDataAccess/bin/Debug/net6.0/DailyWorkTrackDataAccess.pdb
/DailyWorkTrackDataAccess/obj/Debug/net6.0/ref/DailyWorkTrackDataAccess.dll
/DailyWorkTrackDataAccess/obj/Debug/net6.0/refint/DailyWorkTrackDataAccess.dll
/DailyWorkTrackDataAccess/obj/Debug/net6.0/DailyWorkTrackDataAccess.csproj.CoreCompileInputs.cache
/DailyWorkTrackDataAccess/obj/Debug/net6.0/DailyWorkTrackDataAccess.csproj.FileListAbsolute.txt
/DailyWorkTrackDataAccess/obj/Debug/net6.0/DailyWorkTrackDataAccess.dll
/DailyWorkTrackDataAccess/obj/Debug/net6.0/DailyWorkTrackDataAccess.pdb
/DailyWorkTrackDataAccess/obj/Debug/DailyWorkTrackDataAccess.1.0.0.nuspec
/DailyWorkTrackDataAccess/bin/Debug/DailyWorkTrackDataAccess.1.0.0.nupkg
/DailyWorkTrackDataAccess/.vs/DailyWorkTrackDataAccess/FileContentIndex/aa829cd5-8fe8-498f-870a-16cad8446fd9.vsidx
*.vsidx
